.mySwiper1 {
  width: 90vw;
  height: 250px;
  /* border: 2px solid black; */
}
.mySwiperSlide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.provideDiv {
  background: #f3f4f6;
  box-shadow: 10px 10px 20px #dbdcdd, -10px -10px 20px #ffffff;
}
.serviceDiv {
  background: #f5f4f4;
  box-shadow: 16px 16px 32px #dfdede, -16px -16px 32px #ffffff;
}
